<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DTPdb" connectionString="Data Source=.\sqlexpress; Initial Catalog=DTPdb; Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>

<!--<add name="SharedDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS2016;Initial Catalog=NuarxSharedContextTests;Trusted_Connection=True;MultipleActiveResultSets=true;" />-->